<div>
  <div class="left" style="width:200px">
    <%=option.name%>
  </div>
  <div class="left" style="width:20px">
    <%=option.alias%>
  </div>
  <div class="left" style="width:100px">
    <%=option.argument%>
  </div>
  <div class="left">
    <%=option.description%>
  </div>
</div>
<div class="clear"></div>
<br />