<html>
  <head>
    <title>CMDLiner</title>
    <link rel="shortcut icon" href="favicon.ico" >
  </head>
  <body>
    <div>
      <%= render 'layouts/user' %>
      <%= render 'layouts/flash' %>
    </div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>